.container{
    
    gap: 20px;
}

.containerForm{
    display: flex;
    flex-direction: column;
    width: 50%;

}
.containerLi{
    display: flex;
    flex-direction: column;
    width: 50%;

    h2{
        margin-bottom: 1.25rem;
    }

}

@media (min-width: 900px){
    .container{
        display: flex;
        
    }
    .containerForm{
        width: 100%;
    }

    .containerLi{
        width: 100%;
    }

}