.container{
    
    gap: 20px;
}

.containerForm{
    display: flex;
    flex-direction: column;
    
    
}
.containerLi{
    display: flex;
    flex-direction: column;
    

    h2{
        margin-bottom: 1.25rem;
    }

}

@media (min-width: 900px){
    .container{
        display: flex;
        flex: 1;
        
        
    }
    .containerForm{
    
        width: 100%;
    }

    .containerLi{
        width: 100%;
    
    }

}