:root {
    --Color-primary: #fd377e;
    --Color-primary-2: #e34981;
    --Color-Secondary: #03b898;

    --Color-White: #FFFFFF;

    --Gray-0:#F8F9FA;
    --Gray-1:#E9ECEF;
    --Gray-3: #868e9681;
    --Gray-4: #212529;
    --Gray-5:#868E96 ;
    --Gray-6: #343A40;

    --font-family: "Nunito", sans-serif;

}
